image: Visual Studio 2017

platform:
  - x64

configuration:
  - Release

before_build:
  - cd Test
  - cmake -G "Visual Studio 15 2017 Win64" .

build:
  project: $(APPVEYOR_BUILD_FOLDER)\Test\$(APPVEYOR_PROJECT_NAME)-test.sln

test_script:
  - 'cd %APPVEYOR_BUILD_FOLDER%\Test\bin'
  - '.\gsapTests.exe'
  - '.\commCollectionTests.exe'
