image: Visual Studio 2017

platform:
  - x64

configuration:
  - Release

before_build:
    - cmake -G "Visual Studio 15 2017 Win64" .

build:
  project: $(APPVEYOR_BUILD_FOLDER)\$(APPVEYOR_PROJECT_NAME).sln

test_script:
  - 'cd %APPVEYOR_BUILD_FOLDER%\bin'
  - '.\gsapTests.exe'
  - '.\commCollectionTests.exe'
