language: cpp

# Use reasonable compiler versions
matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
        - GENERATOR=""
    - os: linux
      compiler: clang
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
      env:
        - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
        - GENERATOR=""
    - os: osx
      compiler: clang
      osx_image: xcode8
      env: GENERATOR=""
    - os: osx
      compiler: clang
      osx_image: xcode8
      env: GENERATOR="GENERATOR='-G Xcode'"

before_install:
    - eval "${MATRIX_EVAL}"
    - eval "${GENERATOR}"

script:
  - set OPEN_MP_NUM_THREADS 4
  - mkdir build
  - mkdir bin
  - mkdir -p bin/testresults
  - pushd build
  - cmake .. $GENERATOR
  - cmake --build .
  - popd
  - pushd bin
  - ./gsapTests
  - ./commCollectionTests

